body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #222222;
    line-height: 1.5em;
}

.menu {
    color: #222;
    text-decoration: none;
}

.dropDown {
    display: inline-block;
    width: 200px;
    padding-left: 30%;
    /*width: 200px 처럼 사용자가 직접 너비를 지정할 수도 있다.*/
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1.5,1.5);
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1.5,1.5);
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1.5,1.5);
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1.5,1.5);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        transform: scale(1.5,1.5);
    }
    to {
        opacity: 0;
        transform: scale(1,1);
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity: 1;
        transform: scale(1.5,1.5);
    }
    to {
        opacity: 0;
        transform: scale(1,1);
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
        transform: scale(1.5,1.5);
    }
    to {
        opacity: 0;
        transform: scale(1,1);
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity: 1;
        transform: scale(1.5,1.5);
    }
    to {
        opacity: 0;
        transform: scale(1,1);
    }
}

.dropDown-btn {
    width: inherit;
    padding: 7px;
    font-size: 18px;
    background: yellowgreen;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
}

.subMenu {
    display: block;
    opacity: 0;
    width: inherit;
    border: 1px solid #eee;
    transform-origin: 100% 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.17);
}

.fadeOut {
    animation: fadeout .3s forwards;
    -moz-animation: fadeout .3s forwards;
    -webkit-animation: fadeout .3s forwards;
    -o-animation: fadeout .3s forwards;
}

.fadeIn {
    animation: fadein .3s forwards;
    -moz-animation: fadein .3s forwards;
    -webkit-animation: fadein .3s forwards;
    -o-animation: fadein .3s forwards;
}

.menu {
    display: block; /*a 태그는 가로배치 이므로 세로배치로 변경*/
    padding: 7px;
    border-bottom: 0.1ch solid #eee;
    text-align: center;
}

.selected {
    color: #12B886;
}


.menu:hover {
    background: #eee;
}