body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #222222;
    line-height: 1.5em;
}

.menu {
    color: #222;
    text-decoration: none;
}

.dropDown {
    display: inline-block;
    width: 200px;
    padding-left: 30%;
    /*width: 200px 처럼 사용자가 직접 너비를 지정할 수도 있다.*/
}
.dropDown:hover .subMenu {
    transform: scale(1.5, 1.5);
    opacity: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dropDown-btn {
    /*부모의 길이를 상속 받음, 유동적 길이 변경 가능*/
    width: inherit;
    padding: 7px;
    font-size: 18px;
    background: yellowgreen;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
}

.subMenu {
    display: block; /*처음에 안보이게*/
    width: inherit;
    opacity: 0;
    border: 1px solid #eee;
    transition: .3s;
    transform-origin: 100% 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.17);
}

.subMenu .menu {
    display: block; /*a 태그는 가로배치 이므로 세로배치로 변경*/
    padding: 7px;
    border-bottom: 0.1ch solid #eee;
    text-align: center;
}

.subMenu .menu:hover {
    background: #eee;
}